body[game-state=discon] .show-when-discon, body[game-state=offline] .show-when-offline, body[game-state=idle] .show-when-idle, body[game-state=playing] .show-when-playing, body[game-state=ended] .show-when-ended {
  display: initial;
}

.show-when-discon, .show-when-offline, .show-when-idle, .show-when-playing, .show-when-ended {
  display: none;
}

body {
  background-color: seagreen;
  font-family: sans-serif;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 10px 0;
}
body > .ui, body > .game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.ui > div {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  color: #0000007f;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0px;
  position: absolute;
  color: #000000af;
  width: 20vw;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 250px;
  background-color: #DDDDDD7F;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.ui > div:not(.always-active):hover, .ui > div.always-active {
  background-color: white;
}
.ui .scoreboard {
  right: 0;
  top: 0;
  margin: 10px;
}
.ui .scoreboard .scores {
  display: table;
  margin: auto;
  width: 100%;
}
.ui .scoreboard .scores > div {
  display: table-row;
}
.ui .scoreboard .scores > div:nth-child(even) {
  background-color: #0000001f;
}
.ui .scoreboard .scores > div span {
  display: table-cell;
  padding: 5px;
}
.ui .scoreboard .scores > div span:first-child {
  font-weight: bold;
}
.ui .main-window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ui .timer {
  top: 0;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 1.5em;
  transform: translateX(-50%);
}
.ui .my-color {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid white;
  box-shadow: 0 0 0 1px black;
}

.game > .players {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}
.game > .map {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  background-color: #eee;
  box-shadow: inset 0 0 3px 0;
  padding: 5px;
  font-size: 32px;
  display: grid;
  grid-template-columns: repeat(30, 64px);
  transition: 0.5s transform;
  /* .map-cell */
}
.game > .map .map-cell {
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  color: #0000007f;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0px;
  position: relative;
  height: 64px;
  transition: 0.2s background-color;
  /* .cell-active */
}
.game > .map .map-cell::before {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
.game > .map .map-cell.pl-1::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-2::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-3::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-4::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-5::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-6::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-7::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-8::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-9::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell.pl-10::before {
  text-shadow: 1px 1px #DDD, -1px -1px #DDD, -1px 1px #DDD, 1px -1px #DDD;
  color: #555;
}
.game > .map .map-cell::after {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 10pt;
}
.game > .map .map-cell.cell-active {
  background-color: lightgreen !important;
  box-shadow: inset 0 1px 3px 0px;
}
.game > .map .map-cell.cell-active::before {
  text-transform: uppercase;
  /* text-decoration: underline; */
  font-weight: bold;
}
.game > .map .map-cell.cell-active.apl-1::after {
  content: "1";
}
.game > .map .map-cell.cell-active.apl-2::after {
  content: "2";
}
.game > .map .map-cell.cell-active.apl-3::after {
  content: "3";
}
.game > .map .map-cell.cell-active.apl-4::after {
  content: "4";
}
.game > .map .map-cell.cell-active.apl-5::after {
  content: "5";
}
.game > .map .map-cell.cell-active.apl-6::after {
  content: "6";
}
.game > .map .map-cell.cell-active.apl-7::after {
  content: "7";
}
.game > .map .map-cell.cell-active.apl-8::after {
  content: "8";
}
.game > .map .map-cell.cell-active.apl-9::after {
  content: "9";
}
.game > .map .map-cell.cell-active.apl-10::after {
  content: "10";
}
.game > .map .map-cell.cell-active.cell-active-me {
  background-color: gold !important;
}
.game > .map .map-cell.frozen::after {
  content: "";
  border: 5px solid red;
  box-shadow: 0 0 2px red, 0 0 2px red inset;
}/*# sourceMappingURL=style.css.map */